---
title: This Developing Story
---
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('http://i.imgur.com/rnv1JJU.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Brian</h1>
                    <hr class="small">
                    <span class="subheading">this is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <p>
          In the fall of 2013, I had an idea to teach myself how to code and develop applications. I completed that dream and now work as a Software Engineer
          and have now decided to take the plung into the mecca of it all, San Francisco.
          
          </p>
          <p>
          This Developing Story podcast is diary of my experiences, success and failures, as a new programmer in a new city. You can follow more of my story on twitter 
          <%= link_to "@bdougieYO", "https:/twitter.com/bdougieyo" %>.
          </p>
        </div>
    </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
          <img class="thumbnail img-responsive" src="http://i.imgur.com/Edcu9Zl.jpg" alt="hover">
          <h3 class="post-subtitle text-center">Me and my son</h3>
        </div>
      </div>
    </div>
    
</div>

