---
title: developing story
---
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Brian</h1>
                    <hr class="small">
                    <span class="subheading">this is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>In the fall of 2013 I had an idea to teach myself how to code and develop applications. I completed that dream and now work as a Software Engineer. </p>
            <p>The developing story podcast is diary of experiences, success and failures, as a new programmer in a new city.</p>
        </div>
    </div>
</div>

