---
title: This Developing Story
---
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('http://i.imgur.com/12rstkW.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Referrals</h1>
                    <hr class="small">
                    <span class="subheading">Please support me by using some of my favorite things.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
          <ol>
            <li><a href="https://hover.com/tLs1Fqal">
              Hover
            </a></li>
            <li><a href="http://referrals.trhou.se/briandouglas" target="_blank">
              Treehouse
            </a></li>
            <li><a href="https://www.bloc.io/?ref_token=NjcwMzUz" target="_blank">
              Bloc
            </a></li>
          </ol>
        </div>
      </div>
    </div>
</div>


