---
title: This Developing Story
---
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('http://i.imgur.com/DqtiHuD.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Support</h1>
                    <hr class="small">
                    <span class="subheading">Please support me by using some of my favorite things.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
          <ul>
            <a href="https://hover.com/tLs1Fqal">
              <img class="thumbnail img-responsive" src="http://news.tucows.com/homepage-assets/images/hoverLogo.gif" alt="hover">
            </a>
            <a href="http://referrals.trhou.se/briandouglas" target="_blank">
              <img src="http://wac.a8b5.edgecastcdn.net/80A8B5/static-assets/assets/content/referral-badge-grn.png"/>
            </a>
            <a href="https://www.bloc.io/?ref_token=NjcwMzUz" target="_blank">
              <img src="http://blocblog.s3.amazonaws.com/2014/11/Bloc-logo-rectangle-grey.jpg"/>
            </a>
          </ul>
        </div>
      </div>
    </div>
</div>


